<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.htp.htpandroidframe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.example.htp.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppBaseTheme_Light">
        <activity
            android:name="com.example.htp.ui.activity.MainActivity"
            android:label="@string/app_name" />
        -
        <activity
            android:name="com.example.htp.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            -
        </activity>
        <activity
            android:name="com.example.htp.ui.activity.NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme_Light"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.baidu.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductTourActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProductTour2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProductTour3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.htp.zxing.activity.activity.CaptureActivity"
            android:label="@string/actionbar_title_qr_scan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.htp.ui.activity.ImagePreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.htp.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppBaseTheme_Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htp.ui.activity.ShootDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppBaseTheme_Light.NoActionBar"
            android:screenOrientation="portrait" >

        </activity>>
        <activity
            android:name="com.example.htp.LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>
